
/* header menu */
#mainmenu{
    display: none;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.40);
    z-index: 100;
}

#mainmenu .bg{
    width: 55%;
    height: 600px;
    background-color: #fff;
    float: right;
    padding: 3%;
}

#mainmenu .search{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#mainmenu .search input{
    width: 60%;
    border: none;
    border-bottom: 1px solid #555;
    margin-right: 10px;
}

#mainmenu .search figure{
    cursor: pointer;
}
#mainmenu .search img{
    width: 20px;
}

#mainmenu .m_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

#mainmenu .m_box h3{
    font-size: 0.9rem;
    color:#00A9CF;
    font-weight: 500;
}

#mainmenu .m_box .list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80px;
    
}

#mainmenu .m_box .list li{
    margin-bottom: 20px;
    font-size: 0.8rem;
    width: 25%;
    height: 15px;
}
#mainmenu .m_box:last-of-type{
    height: 120px;
}

#mainmenu .m_box .list li:hover{
    color: #00A9CF;
    font-weight: 500;
}

#mainmenu .line{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 20px;
}


/* shop brand care menu */
#shop{
    width: 100%;
    height: 580px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    padding:2.5% 8%;
    display: none;    
    z-index: 101;

}

#shop .shop_i{
    display: flex;
    justify-content: space-between;
}

#shop .title{
    color:#00A9CF;
    font-weight: 700;
    margin-bottom: 10px;
}


#shop .list ul li{
    font-size: 0.75rem;
    margin-bottom: 10px;
}

#shop .list ul li:last-child{
    margin-bottom: 30px;
}

#shop .list ul li:hover{
    color:#00A9CF;
    font-weight: 500;
}



#brand{
    width: 100%;
    height: 330px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    padding:2.5% 8%;
    display: none;
    z-index: 102;
}

#brand .brand_i{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#brand .brand_i p{
    font-size: 0.75rem;
    width: 22%;
    height: 25px;
    font-weight: 400;
}

#brand .brand_i p:hover{
    color:#00A9CF;
    font-weight: 500;
}

#brand .brand_i p:last-child{
    font-weight: 600;
    color: #378115;
}

#brand .brand_i .pop span{
    padding: 1px 2px;
    font-size: 8px;
    font-weight: 00;
    text-align: center;
    line-height: 8px;
    color:#A70000;
    border:0.5px solid #A70000;
    border-radius: 50px;
}


#care{
    width: 100%;
    height: 520px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    padding:2.5% 8%;
    display: none;
    z-index: 103;

}

#care .care_i{
    display: flex;
    justify-content: space-between;
}

#care .care_i ul{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}

#care .care_i ul .title{
    color:#00A9CF;
    margin-bottom: 8px;
    font-weight: 700;
}

#care .care_i ul li{
    margin-bottom: 10px;
}

#care .care_i ul li:hover{
    color: #00A9CF;
    font-weight: 500;
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    #mainmenu .bg{
        width: 100%;
        height: 55vh;
        background-color: #fff;
        float: right;
        padding: 3%;
        overflow: scroll;
    }
    #mainmenu .search{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    #mainmenu .m_box h3{
        font-size: 0.9rem;
    }
    #mainmenu .m_box .list li{
        font-size: 0.8rem;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    #mainmenu{
        display: none;
        position: fixed;
        top: 100px;
        width: 100%;
        height: 100%;
        background-color: rgba(34, 34, 34, 0.40);
    }
    #mainmenu .bg{
        width: 100%;
        height: 60vh;
        background-color: #fff;
        float: right;
        padding: 3%;
        overflow: scroll;
    }
    #mainmenu .search{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    #mainmenu .m_box h3{
        font-size: 0.85rem;
    }
    #mainmenu .m_box .list li{
        font-size: 0.75rem;
    }
  

    #shop{
        width: 100%;
        height: 80vh;
        background-color: #fff;
        position: fixed;
        top: 100px;
        padding:30px 8%;
        overflow: scroll;
    }

    #shop .shop_i{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #shop .list{
        width: 30%;
        margin-left: 10px;
    }
    #shop .title{
        color:#00A9CF;
        font-weight: 700;
        margin-bottom: 10px;
    }
    #shop .list ul li{
        font-size: 0.8rem;
        margin-bottom: 12px;
    }
    

    #brand{
        width: 100%;
        height: 470px;
        background-color: #fff;
        position: fixed;
        top: 100px;
        padding: 20px 8%;
        overflow: scroll;
    }
    #brand .brand_i{
        width: 100%;
        height: 430px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #brand .brand_i p{
        font-size: 0.75rem;
        width: 33%;
        height: 25px;
        font-weight: 400;
    }
    

    #care{
        width: 100%;
        height: 80vh;
        background-color: #fff;
        position: fixed;
        top: 100px;
        padding:30px 8%;
        overflow: scroll;
    }
    #care .care_i{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #care .care_i .list{
        width: 30%;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 30px;
    }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    #mainmenu{
        display: none;
        position: fixed;
        top: 100px;
        width: 100%;
        height: 100%;
        background-color: rgba(34, 34, 34, 0.40);
    }
    #mainmenu .bg{
        width: 100%;
        height: 60vh;
        background-color: #fff;
        float: right;
        padding: 3%;
        overflow: scroll;
    }
    #mainmenu .search{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    #mainmenu .m_box{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        padding: 0 10px;
    }
    #mainmenu .m_box:last-of-type{
        height: 130px;
        margin-bottom: 20px;
    }
    #mainmenu .m_box h3{
        font-size: 0.9rem;
        margin-top : 10px;
        margin-bottom: 20px;
    }

    #mainmenu .m_box .list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 80px;
        
    }
    #mainmenu .m_box .list li{
        font-size: 0.7rem;
        margin-bottom: 20px;
    }
    #mainmenu .line{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 1px;
        background-color: #e8e8e8;
        margin: 10px 0;
    }


    #shop{
        width: 100%;
        height: 85vh;
        background-color: #fff;
        position: fixed;
        top: 100px;
        padding:30px 8%;
        overflow: scroll;
    }

    #shop .shop_i{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #shop .list{
        width: 47%;
    }
    #shop .title{
        color:#00A9CF;
        font-weight: 700;
        margin-bottom: 10px;
    }
    #shop .list ul li{
        font-size: 0.8rem;
        margin-bottom: 12px;
    }


    #brand{
        width: 100%;
        height: 85vh;
        background-color: #fff;
        position: fixed;
        top: 100px;
        padding: 20px 8%;
        overflow: scroll;
    }
    #brand .brand_i{
        width: 100%;
        height: 750px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #brand .brand_i p{
        font-size: 0.75rem;
        width: 50%;
        height: 25px;
        font-weight: 400;
    }
    
    #care{
        width: 100%;
        height: 85vh;
        background-color: #fff;
        position: fixed;
        top: 100px;
        padding:20px 8%;
        overflow: scroll;
    }
    #care .care_i{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #care .care_i .list{
        width: 50%;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 30px;
    }
}
