.bottom #content .con2{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.bottom #content .con2 .scope{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.bottom #content .con2 .scope h3{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
    color:#333;
}

.bottom #content .con2 .scope .star{
    margin-bottom: 10px;
    display: flex;
}
.bottom #content .con2 .scope .star figure{
    margin-right: 7px;
}
.bottom #content .con2 .scope p{
    color:#666;
    font-size: 0.9rem;
}



.bottom #content .con2 .rev_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom #content .con2 .rev_con .revbox{
    width: 100%;
    height: 250px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 40px;
    margin-bottom: 20px;
}

.bottom #content .con2 .rev_con .revbox figure img{
    border-radius: 20px;
    width: 180px;
}

.bottom #content .con2 .rev_con .revbox .right{
    width: 70%;
    margin-left: 50px;
}

.bottom #content .con2 .rev_con .right .i_scope{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.bottom #content .con2 .rev_con .right .i_scope .star{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.bottom #content .con2 .rev_con .right .i_scope .star figure{
    margin-right: 2px;
    width: 15px;
}
.bottom #content .con2 .rev_con .right .i_scope .star p{
    font-weight: 800;
    margin-top: 4px;
    margin-left: 10px;
}


.bottom #content .con2 .rev_con .right .i_scope .info{
    display: flex;
    color : #888;
    font-weight: 500;
    font-size: 0.8rem;
}
.bottom #content .con2 .rev_con .right .i_scope .info p{
    margin-right: 10px;
}



.bottom #content .con2 .rev_con .right .review{
    line-height: 160%;
    font-size: 0.9rem;
    color:#333;
}






.bottom #content .con3{
    width: 100%;
    height: 100%;
    opacity: 0;
}



/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1200px)*/ 
@media all and (min-width:1024px) and (max-width:1200px) { 
    .bottom #content .con2 .rev_con .revbox{
        width: 100%;
        height: 280px;
        padding: 20px 50px;
        display: flex;
        align-items: center;
        border: 1px solid #e7e7e7;
        border-radius: 40px;
        margin-bottom: 20px;
    }
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .bottom #content .con2 .rev_con .revbox{
        width: 100%;
        height: 280px;
        padding: 20px 50px;
        display: flex;
        align-items: center;
        border: 1px solid #e7e7e7;
        border-radius: 40px;
        margin-bottom: 20px;
    }
    .bottom #content .con2 .scope h3{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 10px;
    }
    
    .bottom #content .con2 .scope .star{
        margin-bottom: 10px;
        display: flex;
    }
    .bottom #content .con2 .scope .star figure{
        width: 15px;
        margin-right: 5px;
    }
    .bottom #content .con2 .scope p{
        color:#666;
        font-size: 0.7rem;
    }
    .bottom #content .con2 .rev_con .right .review{
        line-height: 160%;
        font-size: 0.75rem;
        color:#333;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
   
    .bottom #content .con2 .scope h3{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .bottom #content .con2 .scope{
        margin-bottom: 30px;
    }
    .bottom #content .con2 .rev_con .revbox{
        width: 100%;
        height: 330px;
        padding: 20px;
        display: flex;
        align-items: center;
        border: 1px solid #e7e7e7;
        border-radius: 40px;
        margin-bottom: 20px;
    }
   
    .bottom #content .con2 .rev_con .revbox figure img{
        border-radius: 20px;
        width: 100px;
    }
    
    .bottom #content .con2 .rev_con .revbox .right{
        width: 75%;
        margin-left: 30px;
    }
    .bottom #content .con2 .scope .star{
        margin-bottom: 10px;
        display: flex;
    }
    .bottom #content .con2 .scope .star figure{
        width: 15px;
        margin-right: 5px;
    }
    .bottom #content .con2 .scope p{
        color:#666;
        font-size: 0.7rem;
    }
    .bottom #content .con2 .rev_con .right .review{
        line-height: 160%;
        font-size: 0.75rem;
        color:#333;
    }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {

    .bottom #content .con2 .scope h3{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .bottom #content .con2 .scope{
        margin-bottom: 30px;
    }
    .bottom #content .con2 .rev_con .revbox{
        width: 100%;
        height: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e7e7e7;
        border-radius: 40px;
        margin-bottom: 20px;
    }
   
    .bottom #content .con2 .rev_con .revbox>figure img{
        border-radius: 20px;
        width: 80px;
    }
    
    .bottom #content .con2 .rev_con .revbox .right{
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .bottom #content .con2 .scope .star{
        margin-bottom: 10px;
        display: flex;
    }
    .bottom #content .con2 .scope .star figure{
        width: 15px;
        margin-right: 5px;
    }
    .bottom #content .con2 .scope p{
        color:#666;
        font-size: 0.7rem;
    }
    .bottom #content .con2 .rev_con .right .review{
        line-height: 160%;
        font-size: 0.7rem;
        color:#333;
    }
}
