@import "reset.css";
@import "common.css";
@import "header.css";
@import "footer.css";
@import "headermenu.css";


.noti{
    width: 100%;
    height: 30px;
    background-color: #FDF7E1;
    border-bottom: 1px solid #a5a5a5;
    border-top: 1px solid #a5a5a5;
    position: relative;
    top: 80px;
    left: 0;
    display: flex;
    line-height: 220%;
    font-size: 12px;
    overflow: hidden;
}

.noti ul{
    width: 200%;
    height: 30px;
    position: relative;
}

.noti ul li{
    width: 100%;
    height: 30px;
    text-align: right;
    float: left;
    position: relative;
}





/* main */
main{
    width: calc(100% - 200px);
    margin:0 auto;
}

/* banner */
main .banner{
    width: calc(100% - 200px);
    margin: 150px auto;
}

main .banner .b1{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
main .banner .b1 a:first-child{
    margin-right:10px;
}

main .banner .b2{
    width: 100%;
    display: flex;
}
main .banner .b2 a:first-child{
    margin-right:10px;
}


/* menu bar */
main #menubar{
    width: 100%;
    height: 50px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15%;
    margin: 0 auto;
    margin-bottom: 80px;
    font-weight: 500;
}

main #menubar li:last-child a{
    padding:3px 10px;
    border:1px solid #333;
    border-radius: 50px;
}

main #menubar li a:hover{
    border:1px solid #333;
    border-radius: 50px;
    padding:3px 10px;
    transition: 0.2s;
}

main #menubar li:last-child a:hover{
    border: none;
    background-color: #333;
    color:#fff;
    transition: 0.2s;
}


/* 추천상품 */
main #rec{
    width: 100%;
}

main #rec .r_box{
    margin-bottom: 200px;
}

main #rec .r_box .title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 1rem;
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 190%;
}

main #rec .r_box .title h5{
    font-size: 1.14rem;
}

main #rec .r_box .title span{
    width: 77%;
    height: 1px;
    background-color: #333;
    display: block;
    margin-top: 12px;
}






main #rec .r_box .goods ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main #rec .r_box .goods ul .each{
    width: 19%; 
    height: 450px;
    background-color: #fff;
    padding:10px;
}

main #rec .r_box .goods ul .each img{
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 35px;
}

main #rec .r_box .goods ul .each .t_box .com{
    font-size: 0.65rem;
    font-weight: 400;
    color:#b3b3b3;
    margin-bottom: 3px;
}

main #rec .r_box .goods ul .each .t_box .title{
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 5px;
}

main #rec .r_box .goods ul .each .costbox{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

main #rec .r_box .goods ul .each .costbox .cost{
    color:#A70000;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 5px;
}

main #rec .r_box .goods ul .each .costbox .ogcost{
    color:#888;
    font-size: 0.7rem;
    text-decoration: line-through;
    margin-right: 5px;
}

main #rec .r_box .goods ul .each .costbox .per{
    color:#333;
    font-size: 0.87rem;
    font-weight: bold;
}

main #rec .r_box .goods ul .each .star{
    width: 40%;
    display: flex;
    color: #888;
    font-size: 0.5rem;
}

main #rec .r_box .goods ul .each .star img{
    width: 10px;
    height: 10px;
}

main #rec .r_box .goods ul .each .star p{
    margin-left: 5px;
}


/* 실시간 국가 */
main #rec .real .title{
    margin-bottom: 20px;
}

main #rec .real form select{
    margin-bottom: 20px;
    width: 75px;
    height: 23px;
    background-color: #fff;
    border: none;
    box-shadow: none;
}




/* blog */
main #blog{
    margin :150px auto;
    width: 100%;
}

main #blog .blog_i{
    width: calc(100% - 300px);
    margin: 0 auto;
}

main #blog h2{
    font-size: 1rem;
    margin-bottom: 50px;
}

main #blog a{
    max-width: 33%;
}

main #blog a>img{
    max-width: 97%;
}

main #blog .blog1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


main #blog .blog2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

main #blog .b_box h3{
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 0.9rem;
}

main #blog .b_box p{
    margin-left: 2px;
    font-size: 0.7rem;
    color:#797979;
}


main #blog .b_more{
    cursor: pointer;
    display: flex;
    align-items: center;
    float: right;
    font-weight: 400;
    font-size: 0.7rem;
    margin-bottom: 100px;
}

main #blog .b_more>img{
    width: 16px;
    margin-top: 2px;
}







/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
   
    main .banner{
        width: calc(100% - 100px);
    }
    main #menubar{
        padding:0 10%;
    }
    main #rec .r_box .title h5{
        font-size: 0.9rem;
    }
    main #rec .r_box .title p{
        font-size: 0.7rem;
        margin-top: 4px;
    }
    main #rec .r_box .title span{
        width: 65%;
    }

    main #rec .r_box .goods ul .each{
        height: 340px;
    }
    main #rec .r_box .goods ul .each img{
        margin-bottom: 30px;
    }
    main #rec .r_box .goods ul .each .t_box .title{
        font-size: 0.75rem;
        font-weight: 700;
        margin-bottom: 2px;
    }
    main #rec .r_box .goods ul .each .costbox .cost{
        color:#A70000;
        font-size: 0.95rem;
        font-weight: bold;
        margin-right: 5px;
    }
    
    main #blog .blog_i{
        width: calc(100% - 100px);
        margin: 0 auto;
    }
    main #blog .b_box h3{
        font-size: 0.8rem;
    }
    main #blog .b_box p{
        font-size: 0.6rem;
    }


 
  } 
  
  /* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
  @media all and (min-width:768px) and (max-width:1023px) { 
    main{
        width: calc(100% - 100px);
        margin:0 auto;
    }
    main .banner{
        width: 100%;
        margin-bottom: 100px;
    }
    main #menubar{
        padding:0 5%;
        font-size: 0.9rem;
    }

    main #rec .r_box{
        margin-bottom: 100px;
    }
    main #rec .r_box .title h5{
        font-size: 0.9rem;
    }
    main #rec .r_box .title{
        display: flex;
        justify-content: space-between;
        align-content: center;
        font-size: 0.85rem;
        line-height: 180%;
        margin-bottom: 50px;
        font-weight: 500;
    }
    main #rec .r_box .title span{
        width: 60%;
        height: 1px;
        background-color: #333;
        display: block;
        margin-top: 12px;
    }

    main #rec .r_box .goods ul .each{
        width: 23%; 
        height: 320px;
        background-color: #fff;
        padding:10px;
    }

    main #rec .r_box .goods ul .each:last-child{
        display: none;
    }

    main #rec .r_box .goods ul .each .t_box .title{
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .cost{
        color:#A70000;
        font-size: 1rem;
        font-weight: bold;
        margin-right: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .ogcost{
        color:#888;
        font-size: 0.65rem;
        text-decoration: line-through;
        margin-right: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .per{
        color:#333;
        font-size: 0.85rem;
        font-weight: bold;
    }

    /* 실시간 국가 */
    main #rec .real .title{
        margin-bottom: 10px;
    }


    main #blog{
        margin :150px auto;
        width: 100%;
    }
    
    main #blog .blog_i{
        width: 100%;
        margin: 0 auto;
    }

    main #blog .b_box:last-child{
        display: none;
    }

    main #blog .b_box h3{
        font-size: 0.8rem;
    }
    main #blog .b_box p{
        font-size: 0.6rem;
    }
  } 

  
  /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (min-width:480px) and (max-width:767px) {
    main{
        width: calc(100% - 100px);
        margin:0 auto;
    }
    
    main .banner{
        width: 100%;
        margin-bottom: 80px;
    }
    main #menubar{
        padding:0 5%;
        font-size: 0.7rem;
        margin-bottom: 50px;
    }

    main #rec .r_box{
        margin-bottom: 80px;
    }
    main #rec .r_box .title h5{
        font-size: 0.8rem;
    }
    main #rec .r_box .title{
        display: flex;
        justify-content: space-between;
        align-content: center;
        font-size: 0.65rem;
        line-height: 190%;
        margin-bottom: 30px;
        font-weight: 500;
    }
    main #rec .r_box .title span{
        width:45%;
        height: 1px;
        background-color: #333;
        display: block;
        margin-top: 12px;
    }

    main #rec .r_box .goods ul .each{
        width: 32%; 
        height: 320px;
        background-color: #fff;
        padding:10px;
    }

    main #rec .r_box .goods ul .each:nth-of-type(4),
    main #rec .r_box .goods ul .each:last-child{
        display: none;
    }
    main #rec .r_box .goods ul .each .t_box .com{
        font-size: 0.7rem;
        font-weight: 400;
        color:#b3b3b3;
        margin-bottom: 3px;
    }
    main #rec .r_box .goods ul .each .t_box .title{
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .cost{
        color:#A70000;
        font-size: 0.8rem;
        font-weight: bold;
        margin-right: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .ogcost{
        color:#888;
        font-size: 0.6rem;
        text-decoration: line-through;
        margin-right: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .per{
        color:#333;
        font-size: 0.8rem;
        font-weight: bold;
    }
    main #rec .r_box .goods ul .each .star{
        width: 40%;
        display: flex;
        color: #888;
        font-size: 0.6rem;
    }

    /* 실시간 국가 */
    main #rec .real .title{
        margin-bottom: 10px;
    }
    main #rec .real form select{
        margin-bottom: 20px;
        width: 75px;
        height: 23px;
        background-color: #fff;
        border: none;
        box-shadow: none;
        font-size: 0.8rem;
    }


    main #blog{
        margin :150px auto;
        width: 100%;
    }
    main #blog h2{
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
    main #blog .blog_i{
        width: 100%;
        margin: 0 auto;
    }

    main #blog .b_box:last-child{
        display: none;
    }

    main #blog .b_box h3{
        font-size: 0.7rem;
        margin-bottom: 3px;
    }
    main #blog .b_box p{
        font-size: 0.6rem;
    }
  } 
  
  /* 모바일 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
    .noti{
        width: 100%;
        height: 25px;
        background-color: #FDF7E1;
        border-bottom: 1px solid #a5a5a5;
        border-top: 1px solid #a5a5a5;
        position: relative;
        top: 80px;
        left: 0;
        display: flex;
        line-height: 220%;
        overflow: hidden;
        font-size: 0.65rem;
    }
    main{
        width: calc(100% - 40px);
        margin : 0 auto;
    }
    
    main .banner{
        width: 100%;
        margin-bottom: 80px;
    }
    main .banner .b1{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    main .banner .b1 a:first-child{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    main .banner .b2{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    main .banner .b2 a:first-child{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    main #menubar{
        padding: 5px 10px;
        font-size: 0.8rem;
        margin-bottom: 50px;
        width: 100%;
        height: 100px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 80px;
        font-weight: 500;
    }

    main #menubar li{
        margin-right: 30px;
    }

    main #rec .r_box{
        margin-bottom: 100px;
    }
    main #rec .r_box .title h5{
        font-size: 0.9rem;
    }
    main #rec .r_box .title{
        display: flex;
        justify-content: space-between;
        align-content: center;
        font-size: 0.7rem;
        line-height: 220%;
        margin-bottom: 30px;
        font-weight: 500;
    }
    main #rec .r_box .title span{
        width:35%;
        height: 1px;
        background-color: #333;
        display: block;
        margin-top: 12px;
    }

    main #rec .r_box .goods ul .each{
        width: 48%; 
        height: 350px;
        background-color: #fff;
        padding:10px;
    }

    main #rec .r_box .goods ul .each:nth-of-type(3),
    main #rec .r_box .goods ul .each:nth-of-type(4),
    main #rec .r_box .goods ul .each:last-child{
        display: none;
    }

    main #rec .r_box .goods ul .each img{
        max-width: 95%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    main #rec .r_box .goods ul .each .t_box{
        margin-left: 20px;
    }
    main #rec .r_box .goods ul .each .t_box .com{
        font-size: 0.7rem;
        font-weight: 400;
        color:#b3b3b3;
        margin-bottom: 3px;
    }
    main #rec .r_box .goods ul .each .t_box .title{
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .cost{
        color:#A70000;
        font-size: 0.8rem;
        font-weight: bold;
        margin-right: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .ogcost{
        color:#888;
        font-size: 0.6rem;
        text-decoration: line-through;
        margin-right: 5px;
    }
    main #rec .r_box .goods ul .each .costbox .per{
        color:#333;
        font-size: 0.8rem;
        font-weight: bold;
    }
    main #rec .r_box .goods ul .each .star{
        width: 40%;
        display: flex;
        color: #888;
        font-size: 0.6rem;
    }

    /* 실시간 국가 */
    main #rec .real .title{
        margin-bottom: 10px;
    }
    main #rec .real form select{
        margin-bottom: 20px;
        width: 75px;
        height: 23px;
        background-color: #fff;
        border: none;
        box-shadow: none;
        font-size: 0.8rem;
    }


    main #blog{
        margin :150px auto;
        width: 100%;
    }
    main #blog h2{
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
    main #blog .blog_i{
        width: 100%;
        margin: 0 auto;
    }

    main #blog .b_box:nth-of-type(2),
    main #blog .b_box:last-child{
        display: none;
    }

    main #blog .b_box h3{
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    main #blog .b_box p{
        font-size: 0.7rem;
    }
    main #blog .b_more>img{
        width: 16px;
        margin-top: 0px;
        margin-bottom: 2px;
    }
  }
  
  