@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{margin:0; padding:0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color:inherit;}
img{display: block; max-width: 100%;}
figure{width: fit-content; height: fit-content;}
body{ background-color: #ecf4e780;  color:#333; font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;}




header{
    width: 100%;
    height: 80px;
    padding: 0 100px;
    background-color: #378115;
    color:#fff;
    display: flex;
    align-items: center;
    position:fixed;
    z-index: 30;
}

header h1{
    width: 6.77%;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

header .h_i{
    width: 100%;
    height: 100%;
    padding:0 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

header .h_i .h_menu{
    width: 32.76%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'GmarketSans';
    font-weight: 500;
}

header .h_i .h_menu .menu:after{
    display: block;
    content: '';
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

header .h_i .h_menu .menu:hover:after{
    transform:scaleX(1);
}



header .h_i .h_menu li{
    cursor: pointer;
}

header .h_i .h_menu .go:hover{
    font-size: 0.95rem;
    transition: 0.2s;
}

header .h_i .i_box{
    width: 8.5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .h_i .i_box .i1{
    width: 28px; height: 28px;
}
header .h_i .i_box .i2{
    width: 23px; height: 23px;
}


.noti{
    width: 100%;
    height: 30px;
    background-color: #FDF7E1;
    border-bottom: 1px solid #a5a5a5;
    border-top: 1px solid #a5a5a5;
    position: relative;
    top: 80px;
    left: 0;
    display: flex;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
}

.noti ul{
    width: 200%;
    height: 30px;
    position: relative;
}

.noti ul li{
    width: 100%;
    height: 30px;
    text-align: right;
    float: left;
    position: relative;
}




/* header menu */
#mainmenu{
    display: none;
    position: fixed;
    top: 80.5px;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.40);
}

#mainmenu .bg{
    width: 50%;
    height: 600px;
    background-color: #fff;
    float: right;
    padding: 3%;
}

#mainmenu .search{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 10px;
}

#mainmenu .search input{
    width: 60%;
    border: none;
    border-bottom: 1px solid #555;
}

#mainmenu .search figure{
    cursor: pointer;
}
#mainmenu .search img{
    width: 20px;
}

#mainmenu .m_box{
    display: flex;
    width: 100%;
    height: 90px;
}

#mainmenu .m_box h3{
    font-size: 0.9rem;
    color:#00A9CF;
    font-weight: 500;
    width: 120px;
}

#mainmenu .m_box .list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80px;
    
}

#mainmenu .m_box .list li{
    font-size: 12px;
    width: 25%;
    height: 15px;
}

#mainmenu .m_box .list li:hover{
    color: #00A9CF;
    font-weight: 500;
}

#mainmenu .line{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 20px;
}


/* shop brand care menu */
#shop{
    width: 100%;
    height: 580px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    padding:2.5% 8%;
    display: none;
}

#shop .shop_i{
    display: flex;
    justify-content: space-between;
}

#shop .title{
    color:#00A9CF;
    font-weight: 700;
    margin-bottom: 8px;
}


#shop .list ul li{
    font-size: 12px;
    margin-bottom: 5px;
}

#shop .list ul li:last-child{
    margin-bottom: 30px;
}

#shop .list ul li:hover{
    color:#00A9CF;
    font-weight: 500;
}



#brand{
    width: 100%;
    height: 330px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    padding:2.5% 8%;
    display: none;
}

#brand .brand_i{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#brand .brand_i p{
    font-size: 12px;
    width: 22%;
    height: 25px;
    font-weight: 400;
}

#brand .brand_i p:hover{
    color:#00A9CF;
    font-weight: 500;
}

#brand .brand_i p:last-child{
    font-weight: 600;
    color: #378115;
}

#brand .brand_i .pop span{
    padding: 1px 2px;
    font-size: 8px;
    font-weight: 00;
    text-align: center;
    line-height: 8px;
    color:#A70000;
    border:0.5px solid #A70000;
    border-radius: 50px;
}


#care{
    width: 100%;
    height: 520px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    padding:2.5% 8%;
    display: none;
}

#care .care_i{
    display: flex;
    justify-content: space-between;
}

#care .care_i ul{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}

#care .care_i ul .title{
    color:#00A9CF;
    margin-bottom: 8px;
    font-weight: 700;
}

#care .care_i ul li{
    margin-bottom: 5px;
}

#care .care_i ul li:hover{
    color: #00A9CF;
    font-weight: 500;
}



/* ----- main ----- */
main{
    width: calc(100% - 200px);
    margin:0 auto;
    position: relative;
    top: 100px;
    z-index: 10;
}

.top #info{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.top #info .left{
    width: 50%;
    padding: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top #info .left .mainimg{
    max-width: 550px;
    width:100%;
    height:550px;
    background-color: #fff;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top #info .left .mainimg figure{
    width: 90%;
    position: absolute;
    opacity: 0;
}


.top #info .left .mainimg .m1{
    opacity: 1;
}

.top #info .left .imgbox{
    width: 550px;
    display: flex;
    gap:10px;
}

.top #info .left .imgbox figure img{
    max-width: 100px;
}



.top #info .right{
    width: 50%;
    padding: 3%;
    padding-bottom: 2%;
}

.top #info .right .title{
    width: 100%;
    margin-bottom: 30px;
}

.top #info .right .title p{
    color:#6b6b6b;
    font-weight: 500;
    margin-left: 1%;
    margin-bottom: 5px;
}
.top #info .right .title h3{
    font-weight: 700;
    font-size: 20px;
    margin-left: 1%;
}
.top #info .right span{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 20px 0;
}
.top #info .right .title .star{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1%;
    gap:4px;
}

.top #info .right .title .star figure img{
    width: 15px;
}

.top #info .right .title .star p{
    color:#6b6b6b;
    margin-top: 3px;
}


.top #info .right .con .con1{
    line-height: 160%;
    margin-bottom: 20px;
}

.top #info .right .con ul{
    font-weight: 400;
    margin-bottom: 40px;
}

.top #info .right .con ul li{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}

.top #info .right .con .price{
    display: flex;
    justify-content: right;
    gap: 20px;
}

.top #info .right .con .price .dis{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 800;
}
.top #info .right .con .price .dis p:last-child{
    color:#bababa;
    text-decoration: line-through;
}

.top #info .right .con .price>p{
    font-size: 34px;
    color:#A70000;
    font-weight: 800;
}

.top #info .right .pur .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
}

.top #info .right .pur .box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top #info .right .pur .vol{
    width: 23%;
    height: 50px;
    border:1px solid #333;
    padding: 0 2%;
} 
.top #info .right .pur .vol ul{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    font-size: 18px;
}

.top #info .right .pur .vol ul li{
    cursor: pointer;
}

.top #info .right .pur .vol ul .result{
    cursor:auto;
}



.top #info .right .pur .addcart{
    width: 65%;
    height: 50px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top #info .right .pur .heart{
    position: relative;
    width: 10%;
    height: 50px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top #info .right .pur .heart figure{
    position: absolute;
}

.top #info .right .pur .heart .heart2{
    opacity: 0;
}

.top #info .right .pur .heart figure img{
   max-width: 20px;
}


.top #info .right .pur .note{
    margin: 20px 0;
}

.top #info .right .pur .note ul{
    color:#A70000;
}

.top #info .right .pur .note ul li{
    position: absolute;
}

.top #info .right .pur .note ul .n2{
    display: none;
}





/* 랭킹, 디테일 정보 */
.top #rank{
    width: 100%;
    height: 200px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    font-size: 12px;
}

.top #rank .left{
    width: 50%;
    padding: 1% 0;
}

.top #rank .left ul li>a{
    display: inline;
}

.top #rank .left ul li{
    font-weight: 600;
}

.top #rank .left ul li a{
    color:#007A95;
}

.top #rank .right{
    border-left: 1px solid #333;
    width: 50%;
    padding: 1% 2%;
}

.top #rank .right ul li span{
    font-weight: 600;
    margin-right: 15px;
}



/* review 요약 preview */
.top #pre{
    width: 100%;
    height: 230px;
    border-bottom: 1px solid #333;
    padding: 1% 3%;
    margin-bottom: 100px;
}

.top #pre .head{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}

.top #pre .btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.top #pre .btm .scope{
    width: 15%;
    text-align: center;
}
.top #pre .btm .scope h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 15px;
}

.top #pre .btm .scope .star{
    display: flex;
    gap:5px;
    justify-content: center;
    margin-bottom: 10px;
}


.top #pre .btm .rev{
    margin:0 auto;
    width: 83%;
    height: 158px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top #pre .btm .rev .btn{
    cursor: pointer;
}

.top #pre .btm .revwarp{
    width: 83%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.top #pre .btm .rev_con{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.top #pre .btm .rev .rev_con .revbox{
    width: 100%;
    padding:0 5%;
    height: 100%;
    gap: 30px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}


.top #pre .btm .rev .rev_con .revbox p{
    width: 100%;
    height: 85%;
    font-size: 12px;
    line-height: 170%;
    margin-top: 10px;
}











.bottom{
    width: 100%;
    height: 1300px;
    position: relative;
}

.bottom #button{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    font-weight: 600;
    color:#bababa;
    font-size: 16px;
    cursor: pointer;
}

.bottom #button div:first-child{
    color:#333;
}

.bottom #button div{
    width: 33%;
    text-align: center;
}

.bottom #content{
    padding: 2% 5%;
    position: relative;
}

.bottom #content>div{
    position: absolute;
    padding:0 3%;
    top: 50px;
    left: 0;
}

.bottom #content .con1{
    width: 100%;
    line-height: 170%;
}

.bottom #content .con1 ul li{
    list-style: disc;
    margin-left: 20px;
}

.bottom #content .con1 h3{
    font-size: 18px;
    margin-bottom: 10px ;
}
.bottom #content .con1 .info{
    margin-bottom: 50px;
}
.bottom #content .con1>a{
    font-weight: 600;
    color:#007A95;
}






.bottom #content .con2{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 153, 117);
    opacity: 0;
}

.bottom #content .con3{
    width: 100%;
    height: 100%;
    background-color: pink;
    opacity: 0;
}